In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Data/Housing_Prices_24.csv")
df = df.drop('Id', axis=1)

In [3]:
df

,SalePrice,LotArea,TotalBsmtSF,1stFlrSF,2ndFlrSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,...,PoolArea,LotConfig,BldgType,YearBuilt,YearRemodAdd,Foundation,CentralAir,KitchenQual,PavedDrive,YrSold
0,208500,8450,856,856,854,2,1,3,8,0,...,0,Inside,1Fam,2003,2003,PConc,Y,Gd,Y,2008
1,181500,9600,1262,1262,0,2,0,3,6,1,...,0,FR2,1Fam,1976,1976,CBlock,Y,TA,Y,2007
2,223500,11250,920,920,866,2,1,3,6,1,...,0,Inside,1Fam,2001,2002,PConc,Y,Gd,Y,2008
3,140000,9550,756,961,756,1,0,3,7,1,...,0,Corner,1Fam,1915,1970,BrkTil,Y,Gd,Y,2006
4,250000,14260,1145,1145,1053,2,1,4,9,1,...,0,FR2,1Fam,2000,2000,PConc,Y,Gd,Y,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,175000,7917,953,953,694,2,1,3,7,1,...,0,Inside,1Fam,1999,2000,PConc,Y,TA,Y,2007
1456,210000,13175,1542,2073,0,2,0,3,7,2,...,0,Inside,1Fam,1978,1988,CBlock,Y,TA,Y,2010
1457,266500,9042,1152,1188,1152,2,0,4,9,2,...,0,Inside,1Fam,1941,2006,Stone,Y,Gd,Y,2010
1458,142125,9717,1078,1078,0,1,0,2,5,0,...,0,Inside,1Fam,1950,1996,CBlock,Y,Gd,Y,2010
1459,147500,9937,1256,1256,0,1,1,3,6,0,...,0,Inside,1Fam,1965,1965,CBlock,Y,TA,Y,2008

In [4]:
print((df['KitchenQual']=='TA').sum())

735

In [15]:
onlyNum = df.drop(columns=['LotConfig','BldgType','Foundation','KitchenQual'])
onlyNum = onlyNum.replace({'CentralAir':{'Y':1, 'N':0},'PavedDrive':{'Y':1, 'N':0}})
onlyNum

/var/folders/ns/wss0s0vx7xx6yxypm3j39bpw0000gn/T/ipykernel_85665/1280525242.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  onlyNum = onlyNum.replace({'CentralAir':{'Y':1, 'N':0},'PavedDrive':{'Y':1, 'N':0}})

,SalePrice,LotArea,TotalBsmtSF,1stFlrSF,2ndFlrSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,YearBuilt,YearRemodAdd,CentralAir,PavedDrive,YrSold
0,208500,8450,856,856,854,2,1,3,8,0,...,61,0,0,0,0,2003,2003,1,1,2008
1,181500,9600,1262,1262,0,2,0,3,6,1,...,0,0,0,0,0,1976,1976,1,1,2007
2,223500,11250,920,920,866,2,1,3,6,1,...,42,0,0,0,0,2001,2002,1,1,2008
3,140000,9550,756,961,756,1,0,3,7,1,...,35,272,0,0,0,1915,1970,1,1,2006
4,250000,14260,1145,1145,1053,2,1,4,9,1,...,84,0,0,0,0,2000,2000,1,1,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,175000,7917,953,953,694,2,1,3,7,1,...,40,0,0,0,0,1999,2000,1,1,2007
1456,210000,13175,1542,2073,0,2,0,3,7,2,...,0,0,0,0,0,1978,1988,1,1,2010
1457,266500,9042,1152,1188,1152,2,0,4,9,2,...,60,0,0,0,0,1941,2006,1,1,2010
1458,142125,9717,1078,1078,0,1,0,2,5,0,...,0,112,0,0,0,1950,1996,1,1,2010
1459,147500,9937,1256,1256,0,1,1,3,6,0,...,68,0,0,0,0,1965,1965,1,1,2008

In [18]:
corr = onlyNum.drop(columns=['SalePrice']).corr()


plt.figure(figsize=(8,6))
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap of Housing Variables')
plt.show()

ValueError: could not convert string to float: 'P'